{% extends 'base.html' %}



{% block conteudo %}
<!-- CONTENT -->
<br>
<br>
<h2>Como entrar em contato comigo:</h2>
<br>
<br>
<br>

<div class="text-center">
  <img src="/media/wz.jpg" class="rounded-circle z-depth-0" alt="WhatsApp" height="35">86 98815 9292
</div>
<div class="text-center">
  <img src="/media/insta.jpg" class="rounded-circle z-depth-0" alt="Instagram" height="35">@mariliadigital
</div>
<div class="text-center">
  <img src="/media/email.jpg" class="rounded-circle z-depth-0" alt="Instagram" height="35">sousamarilia259@gmail.com
</div>


</div>
<!--/CONTENT-->

{% endblock conteudo%}
