{% extends 'base_adm.html' %}
{% load widget_tweaks %}

{% block titulo %}Posts | {{ block.super }}{% endblock titulo %}

{% block conteudo %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Posts</h1>
             {% include 'parciais/_messages.html' %}
            <a href="{% url 'adm:novo_post' %}" class="btn btn-primary">Novo Post</a><br><br>
            <table class="table table-hover">
                <thead>
                <tr>
                   <th scope="col">Id</th>
                    <th scope="col">Título</th>

                    <th scope="col">Data</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Publicado</th>
                </tr>
                <tr>
                {% for post in posts %}
                    <tr>
                        <th scope="row">{{ post.id }}</th>
                        <td>{{ post.titulo_post }}</td>

                        <td>{{ post.data_post }}</td>
                        <td>{{ post.categoria_post }}</td>
                        <td>{{ post.publicado_post }}</td>
                        <td><a href="{% url 'adm:editar_post' post.id  %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'adm:deletar_post' post.id  %}" class="btn btn-danger btn-sm">Apagar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
</div>
{% include 'parciais/_pagination.html' %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
{% endblock conteudo %}

