{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    Área Administrativa | {{ block.super }}
{% endblock title %}

{% block conteudo %}

    <div class="container">
        <div class="row justify-content-center">
            <h3>Bem vindo a área administrativa do Blog</h3>
            <div class="col-8">
                {% include 'parciais/_messages.html' %}
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                     <div class="mb-3">
                        <label for="{{ form.usuario.id_for_label }}">{{ form.usuario.label }}</label>
                        {% render_field form.usuario class='form-control' placeholder='Nome de usuário' autofocus='autofocus' %}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.senha.id_for_label }}">{{ form.senha.label }}</label>
                        {% render_field form.senha class='form-control' placeholder='Sua senha' %}
                    </div>

                    <p>
                        <button type="submit" class="btn btn-primary">Entrar</button>

                    </p>

                </form>
            </div>
        </div>
    </div>

{% endblock conteudo%}