{% load static %}



    <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/theme_1564087106285.css' %}" rel="stylesheet">
<!--_footer.html-->
<footer class=" text-light">
    <div class="container  ">
        <div class="row">
            <div class="col">
                <p class="text-left"></p>
            </div>
            <div class="col">
                <p class="text-right">Blog da Rafa</p>
            </div>
        </div>
    </div>
</footer>



<!--/_footer.html-->


