{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'css/bootstrap.min.js' %}"></script>
<!--_footer.html-->
<footer class="text-light">
    <div class="container  ">
        <div class="row">
            <div class="col">
                <p class="text-left"></p>
            </div>
            <div class="col">
                <p class="text-right">Marília Digital</p>
            </div>
        </div>
    </div>
</footer>
<!--/_footer.html-->


