<!DOCTYPE html>
<html lang="pt">

<head>
    <title>{% block titulo %}{% endblock titulo %} Blog da RaFA</title>

    {% include 'parciais/_head.html' %}
</head>

<body>
{% include 'parciais/_nav.html' %}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% block conteudo %}

            {% endblock conteudo%}
        </div>
    </div>
</div>

{% include 'parciais/_footer.html' %}
</body>

</html>


<!-- {% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'stick-footer.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

        <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Blog da Rafa</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Afiliados</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Social Media</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Conteúdo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled"></a>
                </li>

              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>


    {% block main %}



    {% endblock %}


    {% block footer %}
    {% endblock %}

</body>
</html>

-->